<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Username:</label>
        <input type="text" name="username" id="">
        <label for="">Email:</label>
        <input type="text" name="email" id="">
        <label for="">Password:</label>
        <input type="password" name="pass1" id="">
        <label for="">Re-Enter Password:</label>
        <input type="text" name="pass2" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>